body {
    font-family: Arial, sans-serif;
}

button {
    border-radius: 5px;
    padding: 10px 20px;
}

#testimonialSlider > div {
    display: none;
}
#testimonialSlider > div.active {
    display: block;
}

input:focus { outline: none; }
